@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');

body {
	font-family:'Lato', sans-serif;
	font-size: 1.5em;
	line-height: 150%;
	position: relative;
	background-color: #fff;
}

.fixed {
	position: fixed;
}

header {
	padding-top: 20px;
	background-color: #fff
}

h1 {
	font-family: 'Merriweather', serif;
	font-weight: normal;
	font-size: 4em;
	color: #bc3485
}
p {
	border-bottom: 4px solid red;
}
