@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather');

body {
	font-family:'Lato', sans-serif;
	font-size: 1.5em;
	line-height: 150%;
	position: relative;
	background-color: #fff;
}

.fixed {
	position: fixed;
}

head {
	padding-top: 20px;
	background-color: #fff
}

head h1 {
	font-family: 'Merriweather', serif;
	color:#bc3485;
	font-weight: normal;
	font-size: 4em
}
